In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
df = pd.read_csv('data/world_data.csv')
df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services
0,Aruba,2022.0,106445.0,NaN,NaN,NaN,NaN,NaN,NaN,3.544708e+09,13.0,NaN,NaN,-1.227595e+08,104.541774,77.334651,83.124605
1,Aruba,2021.0,106537.0,74.626,7.193,11.235,NaN,NaN,NaN,3.103184e+09,13.0,NaN,NaN,-9.393657e+07,95.530096,70.830378,69.069709
2,Aruba,2020.0,106585.0,75.723,8.102,9.690,NaN,NaN,NaN,2.558906e+09,13.0,NaN,NaN,-6.817358e+07,83.546922,68.835564,55.326811
3,Aruba,2019.0,106442.0,76.248,9.138,8.778,NaN,NaN,NaN,3.395799e+09,13.0,NaN,NaN,-1.534046e+08,102.085176,72.108981,73.234592
4,Aruba,2018.0,105962.0,76.072,9.881,8.597,NaN,NaN,NaN,3.276184e+09,13.0,NaN,NaN,-2.147371e+08,104.303831,72.960778,72.252774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8283,Zimbabwe,1999.0,11716454.0,45.206,35.263,16.301,6.000,12.640459,64.153401,6.858013e+09,7.0,0.161676,NaN,-2.288488e+09,NaN,33.514080,37.408580
8284,Zimbabwe,1998.0,11548364.0,46.819,34.521,15.150,6.356,12.771517,63.859997,6.401968e+09,7.0,0.081648,NaN,-2.479862e+09,NaN,45.120957,43.393085
8285,Zimbabwe,1997.0,11362401.0,47.993,33.799,14.357,6.930,12.838733,64.138891,8.529572e+09,NaN,0.033080,NaN,-2.608686e+09,NaN,44.609791,37.595273
8286,Zimbabwe,1996.0,11178171.0,48.955,33.190,13.755,6.123,12.899451,64.326413,8.553147e+09,NaN,0.016790,NaN,-2.054743e+09,NaN,35.939548,36.130073
8287,Zimbabwe,1995.0,10994041.0,50.531,32.625,12.825,5.557,12.829273,64.697880,7.111271e+09,NaN,0.007684,NaN,-2.099831e+09,NaN,40.920449,38.236344

In [3]:
df.dropna(subset=['Country'], inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services
0,Aruba,2022.0,106445.0,NaN,NaN,NaN,NaN,NaN,NaN,3.544708e+09,13.0,NaN,NaN,-1.227595e+08,104.541774,77.334651,83.124605
1,Aruba,2021.0,106537.0,74.626,7.193,11.235,NaN,NaN,NaN,3.103184e+09,13.0,NaN,NaN,-9.393657e+07,95.530096,70.830378,69.069709
2,Aruba,2020.0,106585.0,75.723,8.102,9.690,NaN,NaN,NaN,2.558906e+09,13.0,NaN,NaN,-6.817358e+07,83.546922,68.835564,55.326811
3,Aruba,2019.0,106442.0,76.248,9.138,8.778,NaN,NaN,NaN,3.395799e+09,13.0,NaN,NaN,-1.534046e+08,102.085176,72.108981,73.234592
4,Aruba,2018.0,105962.0,76.072,9.881,8.597,NaN,NaN,NaN,3.276184e+09,13.0,NaN,NaN,-2.147371e+08,104.303831,72.960778,72.252774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443,Zimbabwe,1999.0,11716454.0,45.206,35.263,16.301,6.000,12.640459,64.153401,6.858013e+09,7.0,0.161676,NaN,-2.288488e+09,NaN,33.514080,37.408580
7444,Zimbabwe,1998.0,11548364.0,46.819,34.521,15.150,6.356,12.771517,63.859997,6.401968e+09,7.0,0.081648,NaN,-2.479862e+09,NaN,45.120957,43.393085
7445,Zimbabwe,1997.0,11362401.0,47.993,33.799,14.357,6.930,12.838733,64.138891,8.529572e+09,NaN,0.033080,NaN,-2.608686e+09,NaN,44.609791,37.595273
7446,Zimbabwe,1996.0,11178171.0,48.955,33.190,13.755,6.123,12.899451,64.326413,8.553147e+09,NaN,0.016790,NaN,-2.054743e+09,NaN,35.939548,36.130073
7447,Zimbabwe,1995.0,10994041.0,50.531,32.625,12.825,5.557,12.829273,64.697880,7.111271e+09,NaN,0.007684,NaN,-2.099831e+09,NaN,40.920449,38.236344

In [4]:
df.isnull().sum()

Country                             0
Year                                0
Population                         28
Life Expectancy                   483
Birth Rate                        382
Death Rate                        392
Unemployment                      869
Employment in Industry            869
Employment in Agriculture         869
GDP                               368
Compulsory Education             1658
Internet Users                    811
National Income per Capita       3192
Net Income from Abroad           2123
Trade in Services                1371
Imports of Goods and Services    1251
Exports of Goods and Services    1314
dtype: int64

In [5]:
#filling missing value by backfill
df.fillna(method='bfill', inplace=True)
#filling missing value by forwardfill
df.fillna(method='ffill', inplace=True)
df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services
0,Aruba,2022.0,106445.0,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.544708e+09,13.0,97.170000,1.426485,-1.227595e+08,104.541774,77.334651,83.124605
1,Aruba,2021.0,106537.0,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.103184e+09,13.0,97.170000,1.426485,-9.393657e+07,95.530096,70.830378,69.069709
2,Aruba,2020.0,106585.0,75.723,8.102,9.690,7.748144,10.111156,55.750775,2.558906e+09,13.0,97.170000,1.426485,-6.817358e+07,83.546922,68.835564,55.326811
3,Aruba,2019.0,106442.0,76.248,9.138,8.778,7.748144,10.111156,55.750775,3.395799e+09,13.0,97.170000,1.426485,-1.534046e+08,102.085176,72.108981,73.234592
4,Aruba,2018.0,105962.0,76.072,9.881,8.597,7.748144,10.111156,55.750775,3.276184e+09,13.0,97.170000,1.426485,-2.147371e+08,104.303831,72.960778,72.252774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443,Zimbabwe,1999.0,11716454.0,45.206,35.263,16.301,6.000000,12.640459,64.153401,6.858013e+09,7.0,0.161676,16.226788,-2.288488e+09,12.192855,33.514080,37.408580
7444,Zimbabwe,1998.0,11548364.0,46.819,34.521,15.150,6.356000,12.771517,63.859997,6.401968e+09,7.0,0.081648,16.226788,-2.479862e+09,12.192855,45.120957,43.393085
7445,Zimbabwe,1997.0,11362401.0,47.993,33.799,14.357,6.930000,12.838733,64.138891,8.529572e+09,7.0,0.033080,16.226788,-2.608686e+09,12.192855,44.609791,37.595273
7446,Zimbabwe,1996.0,11178171.0,48.955,33.190,13.755,6.123000,12.899451,64.326413,8.553147e+09,7.0,0.016790,16.226788,-2.054743e+09,12.192855,35.939548,36.130073
7447,Zimbabwe,1995.0,10994041.0,50.531,32.625,12.825,5.557000,12.829273,64.697880,7.111271e+09,7.0,0.007684,16.226788,-2.099831e+09,12.192855,40.920449,38.236344

In [6]:
df['Year'] = df['Year'].astype(int)
df['Population'] = df['Population'].astype(int)

In [7]:
import requests
BASE_URL = 'http://api.worldbank.org/v2/'
all_countries_url = f'{BASE_URL}countries?format=json&per_page=300'
response = requests.get(all_countries_url)

if response.status_code == 200:
    countries_list = [country['id'] for country in response.json()[1]]
    name_list = [country['name'] for country in response.json()[1]]

    countries_df = pd.DataFrame({'Country': name_list, 'Country Code': countries_list})

merged_df = pd.merge(df, countries_df, on='Country', how='left')
merged_df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services,Country Code
0,Aruba,2022,106445,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.544708e+09,13.0,97.170000,1.426485,-1.227595e+08,104.541774,77.334651,83.124605,ABW
1,Aruba,2021,106537,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.103184e+09,13.0,97.170000,1.426485,-9.393657e+07,95.530096,70.830378,69.069709,ABW
2,Aruba,2020,106585,75.723,8.102,9.690,7.748144,10.111156,55.750775,2.558906e+09,13.0,97.170000,1.426485,-6.817358e+07,83.546922,68.835564,55.326811,ABW
3,Aruba,2019,106442,76.248,9.138,8.778,7.748144,10.111156,55.750775,3.395799e+09,13.0,97.170000,1.426485,-1.534046e+08,102.085176,72.108981,73.234592,ABW
4,Aruba,2018,105962,76.072,9.881,8.597,7.748144,10.111156,55.750775,3.276184e+09,13.0,97.170000,1.426485,-2.147371e+08,104.303831,72.960778,72.252774,ABW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443,Zimbabwe,1999,11716454,45.206,35.263,16.301,6.000000,12.640459,64.153401,6.858013e+09,7.0,0.161676,16.226788,-2.288488e+09,12.192855,33.514080,37.408580,ZWE
7444,Zimbabwe,1998,11548364,46.819,34.521,15.150,6.356000,12.771517,63.859997,6.401968e+09,7.0,0.081648,16.226788,-2.479862e+09,12.192855,45.120957,43.393085,ZWE
7445,Zimbabwe,1997,11362401,47.993,33.799,14.357,6.930000,12.838733,64.138891,8.529572e+09,7.0,0.033080,16.226788,-2.608686e+09,12.192855,44.609791,37.595273,ZWE
7446,Zimbabwe,1996,11178171,48.955,33.190,13.755,6.123000,12.899451,64.326413,8.553147e+09,7.0,0.016790,16.226788,-2.054743e+09,12.192855,35.939548,36.130073,ZWE
7447,Zimbabwe,1995,10994041,50.531,32.625,12.825,5.557000,12.829273,64.697880,7.111271e+09,7.0,0.007684,16.226788,-2.099831e+09,12.192855,40.920449,38.236344,ZWE

In [8]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
merged_df = pd.merge(merged_df, world[['iso_a3', 'continent']], left_on='Country Code', right_on='iso_a3', how='left')

merged_df.drop(columns=['iso_a3'], inplace=True)
merged_df.rename(columns={'continent': 'Continent'}, inplace=True)
merged_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_16068\785387823.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services,Country Code,Continent
0,Aruba,2022,106445,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.544708e+09,13.0,97.170000,1.426485,-1.227595e+08,104.541774,77.334651,83.124605,ABW,NaN
1,Aruba,2021,106537,74.626,7.193,11.235,7.748144,10.111156,55.750775,3.103184e+09,13.0,97.170000,1.426485,-9.393657e+07,95.530096,70.830378,69.069709,ABW,NaN
2,Aruba,2020,106585,75.723,8.102,9.690,7.748144,10.111156,55.750775,2.558906e+09,13.0,97.170000,1.426485,-6.817358e+07,83.546922,68.835564,55.326811,ABW,NaN
3,Aruba,2019,106442,76.248,9.138,8.778,7.748144,10.111156,55.750775,3.395799e+09,13.0,97.170000,1.426485,-1.534046e+08,102.085176,72.108981,73.234592,ABW,NaN
4,Aruba,2018,105962,76.072,9.881,8.597,7.748144,10.111156,55.750775,3.276184e+09,13.0,97.170000,1.426485,-2.147371e+08,104.303831,72.960778,72.252774,ABW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443,Zimbabwe,1999,11716454,45.206,35.263,16.301,6.000000,12.640459,64.153401,6.858013e+09,7.0,0.161676,16.226788,-2.288488e+09,12.192855,33.514080,37.408580,ZWE,Africa
7444,Zimbabwe,1998,11548364,46.819,34.521,15.150,6.356000,12.771517,63.859997,6.401968e+09,7.0,0.081648,16.226788,-2.479862e+09,12.192855,45.120957,43.393085,ZWE,Africa
7445,Zimbabwe,1997,11362401,47.993,33.799,14.357,6.930000,12.838733,64.138891,8.529572e+09,7.0,0.033080,16.226788,-2.608686e+09,12.192855,44.609791,37.595273,ZWE,Africa
7446,Zimbabwe,1996,11178171,48.955,33.190,13.755,6.123000,12.899451,64.326413,8.553147e+09,7.0,0.016790,16.226788,-2.054743e+09,12.192855,35.939548,36.130073,ZWE,Africa
7447,Zimbabwe,1995,10994041,50.531,32.625,12.825,5.557000,12.829273,64.697880,7.111271e+09,7.0,0.007684,16.226788,-2.099831e+09,12.192855,40.920449,38.236344,ZWE,Africa

In [9]:
countries_with_no_continent = merged_df[merged_df['Continent'].isnull()]['Country']
merged_df.drop(merged_df[merged_df['Country'].isin(countries_with_no_continent)].index, inplace=True)
merged_df.reset_index(drop=True, inplace=True)
merged_df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services,Country Code,Continent
0,Afghanistan,2022,41128771,61.982,35.842,7.344,14.100,18.340073,46.589070,1.426650e+10,9.0,18.400000,-22.902651,8.613293e+07,9.043845,37.069564,14.342153,AFG,Asia
1,Afghanistan,2021,40099462,61.982,35.842,7.344,12.075,18.635343,46.587823,1.426650e+10,9.0,18.400000,-22.902651,8.613293e+07,9.043845,37.069564,14.342153,AFG,Asia
2,Afghanistan,2020,38972230,62.575,36.051,7.113,11.710,18.481322,45.983408,1.995593e+10,9.0,18.400000,-4.504431,1.492277e+08,9.043845,36.289077,10.420817,AFG,Asia
3,Afghanistan,2019,37769499,63.565,36.466,6.791,11.082,18.228116,45.016040,1.879944e+10,9.0,17.600000,-4.504431,2.812175e+08,9.918134,24.747175,43.422926,AFG,Asia
4,Afghanistan,2018,36686784,63.081,36.927,6.981,11.131,18.143741,44.453600,1.805322e+10,9.0,16.800000,-4.504431,2.412913e+08,11.638305,24.747175,43.422926,AFG,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,Zimbabwe,1999,11716454,45.206,35.263,16.301,6.000,12.640459,64.153401,6.858013e+09,7.0,0.161676,16.226788,-2.288488e+09,12.192855,33.514080,37.408580,ZWE,Africa
4728,Zimbabwe,1998,11548364,46.819,34.521,15.150,6.356,12.771517,63.859997,6.401968e+09,7.0,0.081648,16.226788,-2.479862e+09,12.192855,45.120957,43.393085,ZWE,Africa
4729,Zimbabwe,1997,11362401,47.993,33.799,14.357,6.930,12.838733,64.138891,8.529572e+09,7.0,0.033080,16.226788,-2.608686e+09,12.192855,44.609791,37.595273,ZWE,Africa
4730,Zimbabwe,1996,11178171,48.955,33.190,13.755,6.123,12.899451,64.326413,8.553147e+09,7.0,0.016790,16.226788,-2.054743e+09,12.192855,35.939548,36.130073,ZWE,Africa
4731,Zimbabwe,1995,10994041,50.531,32.625,12.825,5.557,12.829273,64.697880,7.111271e+09,7.0,0.007684,16.226788,-2.099831e+09,12.192855,40.920449,38.236344,ZWE,Africa

In [10]:
def get_status(gdp):
    if gdp >= 22000:
        return 'Developed'
    elif 1025 < gdp < 22000:
        return 'Developing'
    else:
        return 'Least Developed'

merged_df_2022 = merged_df[merged_df['Year'] == 2022].copy()
merged_df_2022['Status'] = (merged_df_2022['GDP'] / merged_df_2022['Population']).apply(get_status)

merged_df = pd.merge(merged_df, merged_df_2022[['Country', 'Status']], on='Country', how='left')
merged_df

,Country,Year,Population,Life Expectancy,Birth Rate,Death Rate,Unemployment,Employment in Industry,Employment in Agriculture,GDP,Compulsory Education,Internet Users,National Income per Capita,Net Income from Abroad,Trade in Services,Imports of Goods and Services,Exports of Goods and Services,Country Code,Continent,Status
0,Afghanistan,2022,41128771,61.982,35.842,7.344,14.100,18.340073,46.589070,1.426650e+10,9.0,18.400000,-22.902651,8.613293e+07,9.043845,37.069564,14.342153,AFG,Asia,Least Developed
1,Afghanistan,2021,40099462,61.982,35.842,7.344,12.075,18.635343,46.587823,1.426650e+10,9.0,18.400000,-22.902651,8.613293e+07,9.043845,37.069564,14.342153,AFG,Asia,Least Developed
2,Afghanistan,2020,38972230,62.575,36.051,7.113,11.710,18.481322,45.983408,1.995593e+10,9.0,18.400000,-4.504431,1.492277e+08,9.043845,36.289077,10.420817,AFG,Asia,Least Developed
3,Afghanistan,2019,37769499,63.565,36.466,6.791,11.082,18.228116,45.016040,1.879944e+10,9.0,17.600000,-4.504431,2.812175e+08,9.918134,24.747175,43.422926,AFG,Asia,Least Developed
4,Afghanistan,2018,36686784,63.081,36.927,6.981,11.131,18.143741,44.453600,1.805322e+10,9.0,16.800000,-4.504431,2.412913e+08,11.638305,24.747175,43.422926,AFG,Asia,Least Developed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,Zimbabwe,1999,11716454,45.206,35.263,16.301,6.000,12.640459,64.153401,6.858013e+09,7.0,0.161676,16.226788,-2.288488e+09,12.192855,33.514080,37.408580,ZWE,Africa,Developing
4728,Zimbabwe,1998,11548364,46.819,34.521,15.150,6.356,12.771517,63.859997,6.401968e+09,7.0,0.081648,16.226788,-2.479862e+09,12.192855,45.120957,43.393085,ZWE,Africa,Developing
4729,Zimbabwe,1997,11362401,47.993,33.799,14.357,6.930,12.838733,64.138891,8.529572e+09,7.0,0.033080,16.226788,-2.608686e+09,12.192855,44.609791,37.595273,ZWE,Africa,Developing
4730,Zimbabwe,1996,11178171,48.955,33.190,13.755,6.123,12.899451,64.326413,8.553147e+09,7.0,0.016790,16.226788,-2.054743e+09,12.192855,35.939548,36.130073,ZWE,Africa,Developing
4731,Zimbabwe,1995,10994041,50.531,32.625,12.825,5.557,12.829273,64.697880,7.111271e+09,7.0,0.007684,16.226788,-2.099831e+09,12.192855,40.920449,38.236344,ZWE,Africa,Developing

In [11]:
merged_df.to_csv('data/world_data_cleaned.csv', index=False)